.navbar {
    margin-bottom: 2rem;
}

div.new-cat {
    margin-top: 30px;
    position: relative;
}

.ui-state-highlight {
    border: 1px dashed #cccccc;
}

span.ajax-text {
    display: none;
}

table.sorting tr:not(.home) {
    cursor: pointer;
}

table.sorting.categories td {
    padding: 20px;
}

.ajaxdivtd {
    position: absolute;
}
.pagination li {
    padding: 2px 10px;
    border: 1px solid #dee2e6;
    border-radius: 3px;
}

.productGalleryImage {
    display: inline-block;
    margin-right: 15px;
    text-align: center;
}

.productGalleryImage > img {
    display: block;
}